<%= form_for(estimate_detail, url: estimate_details_path, method: :post) do |f| %>
  <div class="form-row">
    <div class="form-group col-2">
      <label for="inputItemName">商品名</label>
      <%= f.text_field :item_name ,id: 'inputItemName', class: 'form-control'%>
    </div>
    <div class="form-group col-2">
      <label for="inputSpecification">仕様</label>
      <%= f.text_field :specification, id: 'inputSpecification', class: 'form-control' %>
    </div>
    <div class="form-group col-2">
      <label for="inputUnit">単位</label>
      <%= f.text_field :unit, id: 'inputUnit', class: 'form-control' %>
    </div>
    <div class="form-group col-2">
      <label for="inputUnitPrice">単価</label>
      <%= f.number_field :unit_price, id: 'inputUnitPrice', class: 'form-control' %>
    </div>
    <div class="form-group col-1">
      <label for="inputRemark">備考</label>
      <%= f.text_field :remark, id: 'inputRemark', class: 'form-control' %>
    </div>
    <%= f.submit '新規登録',  class: 'col-1' %>
  </div>
<% end %>
