<%#= form_for(@categories, url: categories_path, method: :post) do |f| %>
<%= form_tag categories_path, method: "put" do %>
   <table class="table table-list">
    <thead>
      <tr>
        <th>カテゴリー</th>
      </tr>
    </thead>

    <tbody id='detail-association-insertion-point'>

    <div class="form-group">
    <% @categories.each do |category| %>
      <%= fields_for "categories[]", category do |fi| %>
        <tr class="nested-fields">
          <%#= fi.hidden_field :id %>
          <td>
          <%= fi.text_field :category_name, class: 'form-control' %>
          </td>
        </tr>    
      <% end %>
    <% end %>
    </div>
    </tbody>
  </table>

  <%= submit_tag '登録', class: 'btn btn-primary' %>
<% end %>

<%= form_for(@category, url: categories_path, method: :post) do |f| %>
    <div class="form-group">
        <tr class="nested-fields">
          <td>
          <%= f.text_field :category_name, class: 'form-control' %>
          </td>
        </tr>    
        </div>
  <%= f.submit '新規登録',  class: 'btn btn-primary' %>
<% end %>
